@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
// colors:
$black: #191918;
$grey-darker: #333331;
$grey-dark: #4c4c4a;
$grey: #7f7f7c;
$grey-light: #b2b2ae;
$grey-lighter: #ccccc7;
$grey-lightest: #e5e5e0;
$white-ter: #fffffb;
$white-bis: rgb(250, 250, 250);
$white: hsl(0, 0%, 100%);
$light-yellow: #fffff9;
$light-blue: #add8e6;
$radius-large: 6px;
$radius-small: 2px;
$site-red:#e86f58;
$site-red-invert: hsl(0, 0%, 96%);


$primary:       $site-red;
$secondary:     $light-blue;
$light:         $grey-lighter;
$dark:          $grey-darker;

$body-bg:                $white-bis;
$body-color:                $grey-dark;


// Links
//
// Style anchor elements.

$link-color:                              $grey;
$link-decoration:                         none;
$link-hover-color:                        $primary;
$link-hover-decoration:                   none;

$navbar-dark-color: $grey-lightest;

$navbar-light-color: $grey;
$navbar-light-hover-color: $site-red;
$navbar-light-toggler-border-color: rgba($black, .1) !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 20%;
$jumbotron-color: $body-color;
$jumbotron-bg: $secondary;

// Tooltips
$tooltip-padding-y: 10px;
 $tooltip-padding-x: 10px;
$tooltip-color: $grey-lightest;
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Oswald', sans-serif;

body {
        padding-top: 80px;

  margin: 0;
    font-family: $font-family-base;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $body-color;
    text-align: left;
    background-color: $body-bg;

}

.border-right {
  border-right: 1px solid $link-color;
}

.border-left {
  border-left: 1px solid $link-color;
}

.nav-icon {
  display: inline-block;
}


//== Navbar
//
//##

// Basics of a navbar


// Navbar toggle

$navbar-light-toggler-border-color: transparent;

@import "~bootstrap/scss/bootstrap.scss";




.home-link,
.navbar-link
 {
  color: $navbar-light-color;
  font-family: $font-family-base;
  font-size: .9em;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: .5rem .5rem;
}
.dropdown-link {
  color: $navbar-light-color;
  font-size: .9em;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  align-items: center;
  align-self: center;

}
.dropdown-toggle.nav-link {
  padding: .4rem .5rem;
  transition: color 0.2s ease-in-out;
}

.navbar-link:focus,
.navbar-link:hover,
.navbar-link:active,
.dropdown-link:focus,
.dropdown-link:hover,
.dropdown-link:active
 {
  color: $navbar-light-hover-color;
  text-decoration: none;

}

.navbar-logo {
  width: auto;
  height: 3.3rem;
}



.dropdown-menu.show {
  min-width: 7rem;
  border-radius: 0;
}
.dropdown-item {
  font-size: .9rem;
}
.dropdown-item:hover {
  background-color: none;
  color: $navbar-light-hover-color;
}

// Slider
.slick-dots {
  padding: 30px !important;
}



